body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Fira Sans Condensed", sans-serif;
    margin-bottom: 48px;
}

header {
    border-bottom: solid 2px rgb(84, 11, 221);
    padding: 20px;
    font-size: 32px;
    color: rgb(70, 180, 243);
}

.título1 {
    background: blueviolet;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

h1 {
    font-size: 56px;
}

p{
    font-size: 20px;
}

.categoria-vídeos {
    display: flex;
    overflow-x: auto;
    gap: 5px;
}

.categoria-filmes  {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-vídeos img {
    opacity: 0.6;
    height: 200px;
}

.categoria-vídeos img:hover {
    opacity: 1.0;
    border: 1px solid blueviolet;
}

.categoria-filmes h2 {
    color: rgb(70, 180, 243);
}